__pycache__
build
dist
il_conv.build
il_conv.dist
il_conv.onefile-build
il_conv.cmd
il_conv.spec
il_conv.exe

*.xlsx
*.html
*.bak
*.db

testdata/issues_tasking_TCVX_v6*.xml
testdata/readme_tricore_v6.*.html


